.swiper {
  width: 100%;
  height: 90vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide:active {
  cursor: grab;
}

.swiper-slide img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}
