

.slick-slide > div {
    display: grid;
    place-items: center;
}

.slick-slide *:focus {
    outline: none;
}

.slick-prev, .slick-next{
    background: #e8898b6e !important;
    width: 40px !important;
    height: 30px !important;
    z-index: 40 !important;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: red;
    color: #000;
    font-size: 16px;
    cursor: pointer;
  }
  
  .slick-prev {
    left: 0 !important;
  }
  
  .slick-next {
    right: 0 !important;
  }
  