@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: "Segeo"; /*Can be any text*/
  src: url("./assets/fonts/segoesc.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

.bg-blue-gray-50 {
  background-color: #F0F3F4 !important;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  background: white;
}
